body {
    max-height: 100%;
    margin: 0 auto;
    justify-content: center;
}

.header {
    height: 150px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: -170px;
    margin-top: -25px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 140px;
    margin-bottom: -280px;
}

.header h1 {
    font-size: 80px;
    text-align: center;
}

#score, #timer {
    font-size: 30px;
    font-family: helvetica;
    line-height: 20px;
    width: 70px;
    height: 5px;
    margin-top: 150px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 210px);
    gap: 25px;
    width: 905px;
    height: 450px;
    align-items: center;
    margin: 0 auto;
    margin-top: 70px;
    
}

.holes {
    width: 200px;
    height: 80px;
    background-image: url(img/hole.png);
    background-repeat: no-repeat;
    background-position: bottom;
    
}

.moles {
    background-color: red;
}

#startBtn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 300px;
    transform: scale(1000%);
    height: 20px;
    width: 50px;
}

.getReady {
    font-size: 200px;
    width: 50px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: -220px;
}

.hide {
    display: none;
}

